In [2]:
import pandas as pd

In [3]:
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
print(s[2])

30

In [5]:
print(s.iloc[3])

40

In [6]:
print(s[1:4])

1    20
2    30
3    40
dtype: int64

In [7]:
print(s.size)

5

In [8]:
print(s.sum())

150

In [9]:
print(s.mean())

30.0

In [10]:
print(s.min())
print(s.max())

10
50

In [11]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [12]:
print(df['Name'])  # Access the 'Name' column

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [13]:
print(df.iloc[2])   # Access the third row by position
print(df.loc[1])    # Access the second row by label

Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

In [14]:
print(df[['Name', 'Age']])  # Select specific columns
print(df[1:3])             # Select specific rows

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [21]:
unique_dates = df['Age'].unique()
print(unique_dates)

[25 30 35 28]

In [22]:
high_above_102 = df[df['Age'] > 25]
print(high_above_102)

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [23]:
df.to_csv('trading_data.csv', index=False)